* {
  font-family: "Work Sans", sans-serif;
}

/* header section  */
.banner {
  width: 100%;

  background: rgba(255, 144, 14, 0.1);
}
.frist-nav {
  display: flex;
  justify-content: center;
}
.frist-nav h1 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.frist-nav .li {
  display: flex;
  text-decoration: none;
  gap: 50px;
  margin-left: 673px;
  margin-top: 43px;
}
.frist-contant {
  text-align: center;
  margin-top: 116px;
}
.frist-contant h1 {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.frist-contant p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: -20px;
}
.frist-contant button {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.frist-contant button:hover {
  background: rgba(255, 166, 0, 0.675);
}
.frist-img {
  width: 1440px;
  height: 700px;
  border-radius: 8px;
  justify-content: center;
  margin-top: 50px;
  margin-left: -15px;
  margin-bottom: 50px;
  padding: 50px;
}
/* second section  */
.second {
  display: flex;
  justify-content: center;
}
.second-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.second-contant {
  margin-top: 150px;
  margin-left: 73px;
}
.second-contant h1 {
  font-weight: 500;
  font-size: 45px;
}
.second-contant p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.second-btn {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
}
.ql {
  color: #727272;
}
.oo {
  color: #131313;
}
.ft {
  color: #ff900e;
}
/* thard section  */
.thard {
  display: flex;
  margin-top: 130px;
  margin-left: 140px;
}

.thard-box {
  width: 586px;
  height: 171px;
}
.thard-input {
  margin-top: 30px;
  margin-left: 10px;
}
.thard-second img {
  width: 708px;
  height: 982px;
  border-radius: 8px;
}
/* extra btn  */
.exbtn {
  width: 342px;
  height: 200px;
  background: #ff900e;
  border-radius: 8px;
  margin-left: 550px;
  margin-top: -200px;
}
.exbtn:hover {
  background: red;
}
.ten {
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  color: #ffffff;
}
.Experience {
  font-weight: 500;
  font-size: 25px;
  text-align: center;

  color: #ffffff;
}
/* forth section  */
.forth {
  margin-left: 150px;
  margin-top: 130px;
  margin-bottom: 100px;
}
.forth h1 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.forth p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* fifth section  */
.fifth {
  display: flex;
  gap: 125px;
  justify-content: center;
  margin-bottom: 180px;
}
.fifth-box {
  width: 100px;
  height: 100px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 45px;
}
.fifth-box h2 {
  font-weight: 600;
  font-size: 40px;
  color: #424242;
  margin-top: 0px;
}
.fifth-box p {
  margin-top: -30px;
  color: #727272;
}
/* six section  */
.six {
  text-align: center;
  margin-bottom: 50px;
}
.six h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.six p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* seven section  */
.seven {
  display: flex;
  width: 166.76px;
  height: 50px;
  gap: 105px;
  margin-left: 150px;
  margin-bottom: 130px;
  filter: grayscale(100%);
}

/* futter section  */
footer {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  width: 1440px;
  height: 100px;
  background: #fff4e7;
  border-radius: 8px;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 200px;
}
/* extra section  */
.bonus {
  display: flex;
  gap: 200px;
  margin-bottom: 50px;
}
.ex-section {
  margin-left: 150px;
  margin-top: 150px;
}
.ex-section h1 {
  font-size: 50px;
}
@media only screen and (max-width: 767px) {
  .none {
    display: none;
  }
  /* frist section  */
  .frist-nav {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    /* margin-left: 70px; */
    justify-content: center;
  }
  .frist-nav .li {
    margin-left: 0px;
    margin-top: 10px;
  }
  .frist-contant {
    margin-top: 5px;
    justify-content: center;
    padding: 30px;
  }
  .frist-img {
    display: none;
  }
  /*second section */
  .second {
    flex-direction: column;
    margin-top: 30px;
  }
  .second-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }
  .second-contant {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* thard section start */
  .thard {
    flex-direction: column;
    margin-left: 0px;
    padding: 10px;
    margin-bottom: 50px;
  }
  .thard-box {
    height: 200px;
    width: 300px;
    margin-top: 5px;
  }
  .thard-second {
    display: none;
  }
  .exbtn {
    display: none;
  }
  /* forth section  */
  .forth {
    height: 200px;
    width: 300px;
    margin-left: 25px;
    margin-top: -20px;
    margin-bottom: 100px;
  }
  /* fifth section  */
  .fifth {
    flex-direction: column;
    gap: 10px;
    margin-left: 90px;
    margin-top: -100px;
  }
  /* six section  */
  .six {
    margin-top: -100px;
    margin-bottom: 100px;
  }
  /* seven section  */
  .seven {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 100px;
    margin-bottom: 700px;
  }
  /* bonus section  */
  .bonus {
    display: none;
  }
  footer {
    margin-top: 400px;
    background-color: rgb(30, 28, 28);
    margin-left: -540px;
    padding: 5px;
    font-size: 12px;
    align-items: center;
    margin-bottom: 300px;
    color: #ffffff;
  }
}
